<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<script>$(document).ready( function() {
				$("#accordion-edu").accordion({
					collapsible: true
				});
				$("#accordion-exp").accordion({
					collapsible: true
				});
				$("#accordion-res").accordion({
					collapsible: true
				});
				$("#accordion-con").accordion({
					collapsible: true
				});
				$( "button, input:submit, a", ".jqueryAnchor" ).button();		
			});
			$(window).ready( function () {
				$('div.sliderGallery').each( function () {
					var ul = $('ul', this);
					var productWidth = ul.innerWidth() - $(this).outerWidth();

					var slider = $('.slider', this).slider({
						handle: '.handle',
						minValue: 0,
						maxValue: productWidth,
						slide: function (ev, ui) {
							ul.css('left', '-' + ui.value + 'px');
						},
						stop: function (ev, ui) {
							ul.animate({
								'left' : '-' + ui.value + 'px'
							}, 500, 'linear');
						}
					});
				});
			});</script>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
			<section class="round">
				<% flash.each do |key, value| %>
				<div class="flash <%= key %>">
					<%= value %>
				</div>
				<% end %>
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
